# NLP Giriş

**Metin Ön İşleme**

Kitap isimlerinin olduğu bir veri

In [34]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

Bölme işlemi yapalım

In [35]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [36]:
v_metin = metin.split("\n")

Şimdi vektörleştirelim

In [37]:
import pandas as pd
v = pd.Series(v_metin)
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [38]:
metin_vektor = v[1:len(v)]
metin_vektor

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

Rahat çalışmak için DataFrame e çevirelim

In [39]:
metin_df = pd.DataFrame(metin_vektor,columns = ["Romanlar"])
metin_df

                                 Romanlar
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

**BÜYÜK-küçük harf dönüşümü**

Herhangi bir durumda orijinal veriye dönmek veya bir önceki adıma dönmek için çeşitli değişkenlerle step step bir checkpoint oluşturmak faydalı olacaktır.

In [40]:
metin_df1 = metin_df.copy()
metin_df1

                                 Romanlar
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [41]:
metin_df1 = metin_df1["Romanlar"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [42]:
metin_df1

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Romanlar, dtype: object

**Noktalama işaretleri silinmesi**

In [43]:
metin_df1

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Romanlar, dtype: object

In [44]:
type(metin_df1)

pandas.core.series.Series

In [45]:
metin_df1 = metin_df1.str.replace("[^\w\s]","")
metin_df1

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Romanlar, dtype: object

Noktalamaları uçurmuş olduk

**Sayıların Silinmesi**

In [46]:
metin_df1 =metin_df1.str.replace("\d","")
metin_df1

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: Romanlar, dtype: object

**Stopwords kaldırılması** : yani durma duraklatma kelimeleri (the gibi ,her dilde farklıdır)

In [47]:
#gerekli kütüphane
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [48]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [49]:
from nltk.corpus import stopwords

stopwords leri tanımlayalım ve bakalım neymiş bunlar yuuuav

In [50]:
sw = stopwords.words("english")
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [51]:
metin_df1 = metin_df1.apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [52]:
metin_df1

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Romanlar, dtype: object

**Az geçen kelimeleri silmek**

In [55]:
#önce dataFrame çevirelim
metin_df1 = pd.DataFrame(metin_df1, columns = ["Romanlar"])

In [59]:
pd.Series(" ".join(metin_df1["Romanlar"]).split()).value_counts()

adventure    6
coronet      1
identity     1
noble        1
league       1
engineers    1
case         1
pips         1
band         1
copper       1
twisted      1
bohemia      1
lip          1
thumb        1
five         1
speckled     1
boscombe     1
beeches      1
beryl        1
valley       1
blue         1
bachelor     1
orange       1
scandal      1
carbuncle    1
man          1
mystery      1
redheaded    1
dtype: int64

adventure    6
coronet      1
identity     1
noble        1
league       1
engineers    1
case         1
pips         1
band         1
copper       1
twisted      1
bohemia      1
lip          1
thumb        1
five         1
speckled     1
boscombe     1
beeches      1
beryl        1
valley       1
blue         1
bachelor     1
orange       1
scandal      1
carbuncle    1
man          1
mystery      1
redheaded    1
dtype: int64

In [62]:
#silinecek olanları en az olan 3 kelimeyi seçelim
silinecek = pd.Series(" ".join(metin_df1["Romanlar"]).split()).value_counts()[-3:]
silinecek

man          1
mystery      1
redheaded    1
dtype: int64

In [66]:
#silelim
metin_df1 = metin_df1["Romanlar"].apply(lambda x: " ".join(x for x in x.split() if x not in silinecek))
metin_df1

1               scandal bohemia
2                        league
3                 case identity
4               boscombe valley
5              five orange pips
6                   twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: Romanlar, dtype: object

**Tokenization** : Cümleyi kelimelere ayırma

In [67]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [68]:
!pip install textblob

Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.15.0)

In [70]:
import textblob 
from textblob import TextBlob

In [72]:
metin_df1 = pd.DataFrame(metin_df1, columns = ["Romanlar"])
metin_df1

                     Romanlar
1             scandal bohemia
2                      league
3               case identity
4             boscombe valley
5            five orange pips
6                 twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

In [73]:
TextBlob(metin_df1["Romanlar"][1]).words

WordList(['scandal', 'bohemia'])

görüldüğü gibi ilk cümlenin kelimelerini liste şeklinde dönüyor

In [75]:
metin_df1["Romanlar"].apply(lambda x: TextBlob(x).words)

1                [scandal, bohemia]
2                          [league]
3                  [case, identity]
4                [boscombe, valley]
5              [five, orange, pips]
6                    [twisted, lip]
7      [adventure, blue, carbuncle]
8       [adventure, speckled, band]
9     [adventure, engineers, thumb]
10     [adventure, noble, bachelor]
11      [adventure, beryl, coronet]
12     [adventure, copper, beeches]
Name: Romanlar, dtype: object

**Stemming** : kelimeleri köküne indirgemeyi sağlar gözden gözlük gibi

In [76]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [77]:
metin_df1

                     Romanlar
1             scandal bohemia
2                      league
3               case identity
4             boscombe valley
5            five orange pips
6                 twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

In [80]:
metin_df1["Romanlar"].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

1            scandal bohemia
2                      leagu
3                 case ident
4             boscomb valley
5             five orang pip
6                  twist lip
7     adventur blue carbuncl
8       adventur speckl band
9       adventur engin thumb
10    adventur nobl bachelor
11    adventur beryl coronet
12     adventur copper beech
Name: Romanlar, dtype: object

görüldüğü gibi bazı ekler gitti fakat bu yöntem çokta fazla sağlıklı değil(adventur) gibi çünkü ek olmayan bazı şeyleri de götürebiliyor bunu araştırmak lazım

**Lemmatization** : benzer işleri yapan bir yöntem daha sağlıklı çalışabilir deneyelim

In [81]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

before

In [83]:
metin_df1

                     Romanlar
1             scandal bohemia
2                      league
3               case identity
4             boscombe valley
5            five orange pips
6                 twisted lip
7    adventure blue carbuncle
8     adventure speckled band
9   adventure engineers thumb
10   adventure noble bachelor
11    adventure beryl coronet
12   adventure copper beeches

after

In [92]:
metin_df1 = metin_df1.apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
metin_df1

1              scandal bohemia
2                       league
3                case identity
4              boscombe valley
5              five orange pip
6                  twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: Romanlar, dtype: object

bakıldığı zaman kelimeler daha çok korunmuş oldu

**Sonuç** neydik ne olduk eyyy

In [89]:
metin_df

                                 Romanlar
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [93]:
metin_df1

1              scandal bohemia
2                       league
3                case identity
4              boscombe valley
5              five orange pip
6                  twisted lip
7     adventure blue carbuncle
8      adventure speckled band
9     adventure engineer thumb
10    adventure noble bachelor
11     adventure beryl coronet
12      adventure copper beech
Name: Romanlar, dtype: object